*
!packages/
packages/*
!packages/contracts/
packages/contracts/*
!packages/contracts/python/
!packages/contracts/python/**
!workers/
workers/*
!workers/image-media/
workers/image-media/*
!workers/image-media/src/
!workers/image-media/src/**
!workers/media-local/
workers/media-local/*
!workers/media-local/Dockerfile
!workers/media-local/src/
!workers/media-local/src/**
