accelerate==1.11.0
decord==0.6.0
diffusers==0.35.2
easydict==1.13
einops==0.8.1
fastapi==0.141.1
ftfy==6.3.1
huggingface-hub==0.36.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
librosa==0.11.0
loguru==0.7.3
numpy==1.26.4
opencv-python-headless==4.11.0.86
pillow==11.3.0
pydantic==2.12.5
pyloudnorm==0.1.1
PyYAML==6.0.3
safetensors==0.6.2
scikit-image==0.25.2
soundfile==0.13.1
transformers==4.57.3
uvicorn[standard]==0.52.3
